.ngScreening-start {
  background-color: #fff;
}
.ngScreening-start .ngScreening-switch {
  width: 46px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: none;
}
.ngScreening-start .ngScreening-switch i:before {
  border-top: 5px solid #fff;
}
.ngScreening-start .ngScreening-switch b:before {
  border-bottom: 5px solid #fff;
}
.ngScreening-start .ngScreening-control {
  left: 0;
  right: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  text-align: center;
  bottom: -43px;
  border: 0;
}
.ngScreening-start .ngScreening-control > * {
  float: none;
  top: auto;
  display: inline-block;
  right: auto;
}
