/**
 * ngScreening v0.0.1 last updated
 *
 * License: MIT
 * Designed and built by Moer
 * github   https://github.com/Moerj/ngScreening
 *
 */

.ngScreening{
    background-color: #f9f9f9;
    display: block;
    width: 100%;
    position: relative;
    border-top: 1px rgba(153, 153, 153, 0.16) solid;

    .ngScreening-hide{
        display: none !important;
    }

    >.ngScreening-container{
        width: 100%;
        overflow: hidden;
        border-bottom: 2px rgba(0,0,0,0.1) solid;
    }

    >.ngScreening-switch{
        position: absolute;
        bottom: -38px;
        right: 5px;
        width: 40px;
        height: 40px;
        font-size: 18px;
        color: #66a6d1;
        cursor: pointer;
        background-color: inherit;
        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
        border: 1px solid #ddd;
        border-top: 0;
        >b{
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            line-height: 40px;
            text-align: center;
            width: 100%;
            height: 100%;
            font-weight: 300;
            transform: rotate(-90deg);
        }
        >i{
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            line-height: 40px;
            text-align: center;
            width: 100%;
            height: 100%;
            font-weight: 300;
            transform: rotate(90deg);
        }
    }

    // 子容器
    .screening{
        min-height: 47px;
        line-height: 47px;
        border-bottom: 1px #ddd solid;
        position: relative;
        padding: 0 30px 0 90px;

        >.screening-name{
            display: inline-block;
            text-align: right;
            width: 80px;
            margin-right: 10px;
            position: absolute;
            left: 0;
            top: 0;
        }
        >.screening-container{
            display: inline-block;
            input[type=button]{
                list-style: none;
                display: inline-block;
                outline: none;
                margin: 0 6px;
            }
        }
        >.screening-switch{
            width: 25px;
            height: 25px;
            line-height: 25px;
            position: absolute;
            top: 10px;
            right: 10px;
            text-align: center;
            font-size: 12px;
            cursor: pointer;
            border-radius: 5px;
            display: none;

            &:hover{
                background-color: #eee;
            }

            >b{
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                line-height: 25px;
                text-align: center;
                width: 100%;
                height: 100%;
                font-weight: 300;
                transform: rotate(-90deg);
            }
            >i{
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                line-height: 25px;
                text-align: center;
                width: 100%;
                height: 100%;
                font-weight: 300;
                transform: rotate(90deg);
            }
        }
    }
    .screening-fixed{
        height: 47px !important;
        overflow: hidden;
    }
}
