/**
 * ngScreening v0.1.1 last updated
 *
 * License: MIT
 * Designed and built by Moer
 * github   https://github.com/Moerj/ngScreening
 *
 */

.ngScreening{
    background-color: #f9f9f9;
    display: block;
    width: 100%;
    position: relative;
    border-top: 1px rgba(153, 153, 153, 0.16) solid;

    // 按钮中的箭头
    @mixin btnArrow(){
        position: absolute;
        top: 25%;
        left: 45%;
        display: inline;
        text-align: center;
        font-weight: 200;
        line-height: normal;
        transform: rotate(90deg) scale3d(0.7,1.3,1);

    }

    // 按钮选中，和bootstrap相同，重写一遍可在不引入bootstrap时可以生效
    .btn-primary {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
    }

    .ngScreening-hide{
        display: none !important;
    }

    >.ngScreening-container{
        width: 100%;
        border-bottom: 2px rgba(0,0,0,0.1) solid;
    }

    >.ngScreening-switch{
        position: absolute;
        bottom: -38px;
        right: 5px;
        width: 40px;
        height: 40px;
        font-size: 15px;
        color: #66a6d1;
        cursor: pointer;
        background-color: inherit;
        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
        border: 1px solid #ddd;
        border-top: 0;
        text-align: center;
        >b{
            @include btnArrow();
        }
        >i{
            @include btnArrow();
        }
    }

    // 子容器
    .screening{
        min-height: 47px;
        line-height: 46px;
        border-bottom: 1px #ddd solid;
        position: relative;
        padding: 0 30px 0 90px;

        >.screening-name{
            display: inline-block;
            text-align: right;
            width: 80px;
            margin-right: 10px;
            position: absolute;
            left: 0;
            top: 0;
        }
        >.screening-container{
            display: block;
            input[type=button]{ /* checkbox */
                list-style: none;
                display: inline-block;
                outline: none;
                margin: 0 6px;
            }
            .screening-div{ /* 自定义div容器 */
                display: inline-block;
                margin-right: 20px;
                input{
                    display: inline-block;
                    width: auto;
                }
            }
        }
        >.screening-switch{
            width: 25px;
            height: 25px;
            line-height: 25px;
            position: absolute;
            top: 10px;
            right: 10px;
            text-align: center;
            font-size: 12px;
            cursor: pointer;
            border-radius: 5px;
            display: none;

            &:hover{
                background-color: #eee;
            }

            >b{
                @include btnArrow();
            }
            >i{
                @include btnArrow();
            }
        }
    }
    .screening-fixed{
        height: 47px !important;
        overflow: hidden;
    }
}
